:root {
    --primary-clr: rgb(120, 174, 228);
    --secondary-clr: rgb(205, 174, 89);
    --tertiary-clr: rgb(4, 5, 100);
    --quaternary-clr: rgb(46, 92, 128);
    --quinary-clr: rgb(118, 96, 29);
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  font: 15px;
  line-height: 1;
  background-color: var(--primary-clr);
}

.jumbotron {
  text-align: center;
  background-color: var(--tertiary-clr);
  color: var(--secondary-clr);
  height: 50px;
  border-bottom: 5px solid var(--quaternary-clr);
  margin-bottom: 10px;
  padding-top: 0;
}